* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

h1 {
  font-size: 48px;
  line-height: 1.208em;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #23272a;
}

/* Debug elements */
.debug-box {
  height: 50px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}

/* Utilities */

.bg-blue {
  background: #255ee9;
}

.clearfix::after {
  display: table;
  clear: both;
  content: " ";
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-15 {
  margin-left: 15px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-130 {
  padding-top: 130px;
  padding-bottom: 130px;
}

.px-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.px-25 {
  padding-right: 25px;
  padding-left: 25px;
}

.pr-16 {
  padding-right: 16px;
}

.btn {
  border-radius: 20px;
  text-align: center;
}

.btn-light {
  background-color: #fff;
}

.btn-dark {
  background-color: #23272a;
  color: #fff;
}

.btn-small {
  width: 65px;
  height: 35px;
  line-height: 35px;
  font-size: 13px;
}

.color-w {
  color: #fff;
}

i {
  margin-right: 8px;
  font-size: 14px;
}

.bg-light {
  background-color: #fff;
}

.bg-dark {
  background-color: #f6f6f6;
}

.container {
  margin: 0 auto;
  width: 75%;
  overflow: hidden;
}

.col {
  float: left;
}

.col.small {
  width: 33%;
}

.col.big {
  width: 67%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* Navigation */

nav .brand {
  vertical-align: middle;
}

ul.navigation {
  list-style: none;
}

ul.navigation li {
  display: inline-block;
  margin: 0 15px;
}

ul.navigation li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  line-height: 35px;
}

div.big {
  position: relative;
}

div.btn-nav {
  position: absolute;
  top: 0;
  right: 0;
}

/* Hero */
section.hero {
  background-image: url("../img/jumbo.png");
  background-size: cover;
}

.hero .container {
  margin: 0 auto;
  width: 55%;
  text-align: center;
  padding: 70px 50px 110px 60px;
}

.hero .cta {
  width: 100%;
}

.hero .container .btn {
  display: inline-block;
  height: 45px;
  line-height: 45px;
}

/* Main Cntent */

.content .container {
  width: 81%;
}
