* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #000;
}

/* Debug elements */
.debug-box {
  height: 50px;
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}

/* Utilities */

.bg-blue {
  background: #3161e0;
}

.clearfix::after {
  display: table;
  clear: both;
  content: " ";
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.px-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.pr-16 {
  padding-right: 16px;
}

.btn-light {
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
}

.btn-small {
  width: 65px;
  height: 35px;
  line-height: 35px;
  font-size: 13px;
}

h1 {
  font-size: 48px;
}

/* Navigation */

nav .container {
  margin: 0 auto;
  width: 75%;
}

nav .brand {
  vertical-align: middle;
}

.col {
  float: left;
}

.col.small {
  width: 30%;
}

.col.big {
  width: 70%;
}

ul.navigation {
  list-style: none;
}

ul.navigation li {
  display: inline-block;
  margin: 0 15px;
}

ul.navigation li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  line-height: 35px;
}

div.big {
  position: relative;
}

div.btn-nav {
  position: absolute;
  top: 0;
  right: 0;
}

/* Hero */
section.hero {
  background-image: url("../img/jumbo.png");
  background-size: cover;
}

.hero .container {
  background-color: red;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  padding: 70px 50px 60px;
  color: #fff;
}

.hero .container .btn {
  display: inline-block;
}
